<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet" />
    <style type="text/css">
        html {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            color: #333;
        }

        html,
        body {
            margin: 0;
            padding: 0;
        }

        * {
            font-size: 1rem;
        }

        input,
        textarea {
            padding: .5rem;
            border: 0px;
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
            color: #333;
            max-width: 100%;
        }

        .justify-md-start {
            justify-content: flex-start !important;
        }

        .table-container {
            display: grid;
            grid-template-columns: 1.5fr 1fr 3fr;
            grid-template-rows: 50px 1fr;
            grid-template-areas: "header header header"
                "section-title table-title content"
                "section-title table-title content"
                "section-title table-title content";
        }

        .table-container.headless {
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: "section-title table-title content"
                "section-title table-title content"
                "section-title table-title content";
        }

        .table-container .header {
            grid-area: header;
            background-color: #00B5E2;
            color: #fff;
            display: flex;
            align-items: center;
            padding-left: 1rem;
            font-weight: 600;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        .table-container .section-title {
            grid-area: section-title;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;
            background-color: #fff;
            border-right: 1px solid #d4d4d4;
            border-bottom: 1px solid #d4d4d4;
        }

        .table-container.dark .section-title,
        .table-container.dark .table-title,
        .table-container.dark .content {
            background-color: #f5f5f5;
        }

        .table-container .section-title.dark {
            background-color: #f5f5f5;
        }

        .table-container .table-title {
            grid-area: table-title;
            border-right: 1px solid #d4d4d4;
        }

        .table-container .content {
            grid-area: content;
        }

        .table-container.no-content .section-title {
            border: 0;
            font-weight: 600;
        }

        .table-container.no-content .table-title {
            border-right: 0;
            grid-column: 2/-1;
            padding: 1rem;
        }

        .table-container .table-row {
            display: flex;
            align-items: center;
            padding: .75rem;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

        .table-container .table-row.dark {
            background-color: #f5f5f5;
        }

        .table-container .row-1 {
            height: 75px;
        }

        .table-container .row-2 {
            height: 35px;
        }

        .table-container .row-3 {
            height: 35px;
        }

        .table-container input,
        .table-container label {
            width: 100%;
        }

        .form-box-wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 2rem;
        }

        .form-box-wrapper .form-box {
            display: flex;
            flex-direction: column;
        }

        .form-box-wrapper .form-box .header {
            background-color: #00B5E2;
            color: #fff;
            display: flex;
            align-items: center;
            padding: .25rem;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }

        .form-box-wrapper .form-box .content {
            padding: .5rem 0;
        }

        .form-box-wrapper .form-box .content input {
            width: 100%;
        }

        .g-sign {
            background-image: url('https://assets.dev.lanistar.app/inf-admin/templateimages/company-signature.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
        }

        .page1 {
            background: url('https://assets.dev.lanistar.app/inf-admin/templateimages/cover-black.jpg') no-repeat;
            background-size: cover;
            margin: 0 !important;
            height: calc(1024px - 60px) !important;
        }

        .page1 h2 {
            color: #ffffff;
            max-width: 320px;

        }

        .pdf-page h2 {
            font-family: arial;
            font-size: 40px;
            font-weight: bold;
            margin-top: 0;

        }

        .pdf-page main {
            background: none;

        }

        .pdf-page {
            display: block;
            position: relative;
            padding: 30px 60px;
        }


        #lanistarSignature,
        #agencySignature,
        #ambassadorSignature,
        #NDAContractSignature {
            height: 65px !important;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            margin-top: 5px;

        }
    </style>
</head>

<body>
    <form>
        <section class="page1 pdf-page inner-page" id="main_header">
            <header style="padding-top:60px;">
                <h2>CONTRATTO DI PROPRIET LANISTAR</h2>
            </header>
            <main>&nbsp;</main>
        </section>
        <div style="page-break-after:always"></div>
        <section class="pdf-page">
            <header>
                <table style="width:100%;">
                    <tbody>
                        <tr>
                            <td style="width:50%;">
                                <h2 style="color:#00b2e2;">LANISTAR OWNERSHIP CONTRACT</h2>
                            </td>
                            <td class="star_img_sec" style="width:50%; text-align:right;"><img class="star_img"
                                    src="https://assets.dev.lanistar.app/inf-admin/templateimages/lanistar-star.png"
                                    style="max-width:150px;" /></td>
                        </tr>
                    </tbody>
                </table>
            </header>

            <main>
                <p><strong>DATA: {{currentDate}} (&quot;Data di decorrenza&quot;)</strong></p>

                <p><strong>TRA:</strong></p>

                <p>(1) <strong>LANISTAR LIMITED</strong>, una società costituita in Inghilterra e Galles con Numero REA
                    12091938, avente sede legale in 361 King Street, Londra, Inghilterra, W6 9NA (&quot;
                    <strong>Lanistar</strong>&quot;);</p>

                <p>(2) <label> <input data-kpxc-id="kpxcpw342845640" name="ambassador name"
                            placeholder="Enter your full name" required="required" size="30"
                            type="text" />&nbsp;</label>
                </p>

                <p>of</p>

                <p><b>Indirizzo</b>:&nbsp;(indirizzo di casa completo e paese)<br />
                    <textarea cols="90" name="address"
                        oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight + 10) + 'px'"
                        placeholder="Enter your address" required="required" rows="4"></textarea><br />
                    (&quot; <strong>Ambasciatore</strong>&quot;)</p>

                <p>Lanistar sta conducendo una campagna di marketing e desidera invitare l'Ambasciatore a prendervi
                    parte tramite la produzione di contenuti originali e pertinenti e la concessione a Lanistar di
                    determinati diritti di utilizzo e pubblicità in relazione a tali contenuti. L'Agenzia farà in modo
                    che l'Ambasciatore fornisca i servizi e conceda i diritti di cui alle Condizioni Generali e ai
                    Termini (collettivamente il presente &quot;Accordo&quot;) e ad essi soggetti.</p>
            </main>


        </section>
        <div style="page-break-after:always"></div>
        <section class="pdf-page">
            <main>
                <div class="table-container">
                    <div class="header">FIRMA</div>

                    <div class="section-title dark">In nome e per conto di <strong>Lanistar:</strong></div>

                    <div class="table-title">
                        <div class="table-row row-1">Firma</div>

                        <div class="table-row row-2 dark">Nome</div>

                        <div class="table-row row-3">Data</div>
                    </div>

                    <div class="content">
                        <div class="table-row row-1">
                            <div class="g-sign" id="lanistarSignature">&nbsp;</div>
                        </div>

                        <div class="table-row row-2 dark">Gurhan Kiziloz</div>

                        <div class="table-row row-3">{{currentDate}}</div>
                    </div>
                </div>
                <div class="table-container headless">
                    <div class="section-title dark">In nome e per conto de <strong>L'Ambasciatore:</strong></div>

                    <div class="table-title">
                        <div class="table-row row-1">Firma</div>

                        <div class="table-row row-2 dark">Nome</div>

                        <div class="table-row row-3">Data</div>
                    </div>

                    <div class="content">
                        <div class="table-row row-1">
                            <div data-signature="true" id="ambassadorSignature">&nbsp;</div>
                        </div>

                        <div class="table-row row-2 dark"><label><input class="form-control" name="ambassadorName"
                                    placeholder="Enter your name" required="required" type="text" /> </label></div>

                        <div class="table-row row-3"><label><input class="form-control"
                                    data-error-message="Please Enter Ambassador Date" name="Ambassador Date"
                                    placeholder="**/**/****" required="required" type="text" /> </label></div>
                    </div>
                </div>

            </main>
        </section>
        <div style="page-break-after:always"></div>
        <section class="pdf-page">
            <main>
                <div class="table-container">
                    <div class="header">CONDIZIONI GENERALI</div>

                    <div class="section-title dark">
                        CONDIZIONI GENERALI
                        Recapiti Lanistar</div>

                    <div class="table-title">
                        <div class="table-row row-1 dark">Nome</div>

                        <div class="table-row row-2">Telefono</div>

                        <div class="table-row row-3 dark">Email</div>
                    </div>

                    <div class="content">
                        <div class="table-row row-1 dark">Gurhan Kiziloz</div>

                        <div class="table-row row-2">+44 7926476904</div>

                        <div class="table-row row-3 dark">contracts@iamlanistar.com</div>
                    </div>
                </div>

                <div class="table-container headless">
                    <div class="section-title dark">Recapiti dell'Ambasciatore</div>

                    <div class="table-title">
                        <div class="table-row row-1 dark">Nome</div>

                        <div class="table-row row-2">Telefono</div>

                        <div class="table-row row-3 dark">Email</div>
                    </div>

                    <div class="content">
                        <div class="table-row row-1 dark"><label><input class="form-control"
                                    placeholder="Enter your name" type="text" /> </label></div>

                        <div class="table-row row-2"><label><input class="form-control"
                                    placeholder="Enter Contact Number" type="text" /> </label></div>

                        <div class="table-row row-3 dark"><label><input class="form-control"
                                    placeholder="Enter your email" type="text" /> </label></div>
                    </div>
                </div>
                <div class="table-container headless no-content dark" style="margin-top:2rem;">
                    <div class="section-title">Campagna</div>

                    <div class="table-title">Lancio della carta di pagamento Lanistar</div>
                </div>

                <div class="table-container headless no-content">
                    <div class="section-title">Data di inizio della campagna</div>

                    <div class="table-title">15 novembre 2020 (data esatta da comunicare 6 settimane prima della
                        data di inizio della campagna)</div>
                </div>

                <div class="table-container headless no-content dark">
                    <div class="section-title">Data di termine della campagna</div>

                    <div class="table-title">12 mesi dalla Data di inizio della campagna</div>
                </div>

                <div class="table-container headless no-content">
                    <div class="section-title">Data di metà campagna</div>

                    <div class="table-title">6 mesi dalla Data di inizio della campagna</div>
                </div>
            </main>
        </section>
        <div style="page-break-after:always"></div>
        <section class="pdf-page">
            <main>
                <div class="table-container no-content">
                    <div class="header">SERVIZI</div>

                    <div class="section-title justify-md-start">Attività</div>

                    <div class="table-title">
                        <p>Durante la Campagna, l'Ambasciatore è tenuto a:</p>

                        <ul>
                            <li>partecipare ad almeno una (1) attività organizzata da Lanistar, la cui natura sarà
                                preventivamente comunicata da quest'ultima all'Ambasciatore, durante la quale egli dovrà
                                creare i propri Contenuti Social (come definiti di seguito) da utilizzare in tempo reale
                                sui propri Canali (come definiti di seguito) e che, onde fugare ogni dubbio, si
                                intenderanno aggiuntivi ai requisiti relativi ai Contenuti Social descritti di seguito.
                                L'attività si svolgerà alla data e all'ora comunicate all'Ambasciatore, in una sede
                                scelta da <strong>Lanistar</strong>;</li>
                            <li> partecipare all'evento di lancio organizzato da Lanistar all'ora e alla data da
                                quest'ultima notificate all'Ambasciatore almeno 4 settimane prima della data
                                dell'evento, e in una sede selezionata da Lanistar, durante la quale l'Ambasciatore
                                dovrà creare i propri Contenuti Social da utilizzare in tempo reale sui propri Canali
                                (come definiti di seguito) e che onde fugare ogni dubbio si intenderanno aggiuntivi ai
                                requisiti relativi ai contenuti sociali descritti di seguito. La partecipazione
                                all'evento di lancio è obbligatoria (
                                <strong>Lanistar</strong> può concedere deroghe a tale requisito a propria esclusiva
                                discrezione per validi motivi).</li>
                        </ul>

                        <p>Onde fugare ogni dubbio, i Contenuti Social creati ai sensi della presente clausola,
                            Attività, saranno soggetti ai Requisiti di divulgazione e ai Requisiti di tempistica
                            indicati di seguito, tuttavia non saranno soggetti ai Requisiti di approvazione indicati di
                            seguito.</p>
                    </div>
                </div>
            </main>
        </section>
        <div style="page-break-after:always"></div>
        <section class="pdf-page">
            <main>
                <div class="table-container headless no-content" style="border-top: 3px solid #00B5E2;">
                    <div class="section-title justify-md-start">Contenuti Social</div>

                    <div class="table-title">
                        <p>L'Ambasciatore utilizzerà la propria posizione sui social media tramite account da questi
                            posseduti e controllati, ivi inclusi (a titolo esemplificativo, ma non esaustivo) Instagram,
                            Snapchat, Facebook, Twitter, TikTok, YouTube, LinkedIn e altri canali eventualmente di volta
                            in volta specificati da Lanistar (ciascuno un
                            <strong>Canale</strong>&quot;)per fornire la messaggistica relativa alla Campagna.
                            L'Ambasciatore è tenuto a
                            pubblicare almeno le seguenti storie e i seguenti post nella griglia/nei feed</p>

                        <ul>
                            <li>un post con script alla data di inizio della campagna (da fornire a cura
                                di Lanistar e da pubblicare in base alle istruzioni di quest'ultima) su
                                un Canale concordato; l'Ambasciatore riconosce che tutti gli influencer Lanistar
                                pubblicheranno un post identico alla Data di inizio della campagna, la cui accuratezza
                                (sia in termini di contenuto, sia in termini di tempistica) è essenziale; e
                                successivamente</li>
                            <li><strong>ogni mese</strong> nel corso della Campagna, un minimo di 4 post organici sul
                                Canale concordato (contenuti che devono essere prodotti in modo creativo e autentico
                                dall'Ambasciatore, da pubblicare in conformità con le istruzioni di Lanistar, nonché
                                soggetti alla previa approvazione della stessa); e</li>
                            <li>di tanto in tanto durante la Campagna, didascalie con script (da fornire a cura di
                                Lanistar) su un Canale concordato,(collettivamente i &quot; <strong>Contenuti
                                    Social</strong>&quot;).</li>
                        </ul>

                        <p>I Contenuti Social dovranno comprendere un misto di storie e post nella griglia/nei feed.
                            Lanistar potrà specificare la proporzione di storie e post nella griglia/nei feed</p>

                        <p style="background:#d1e9f6; padding:5px;">
                            Tutti i Contenuti Social dovranno
                            <a href="mailto:@Lanistar">includere il tag @Lanistar; nonché i seguenti
                                hashtag:</a>#iamlanistar #lanistar
                        </p>
                    </div>
                </div>
            </main>
        </section>
        <div style="page-break-after:auto"></div>
        <section class="pdf-page">
            <main>
                <div class="table-container headless no-content" style="border-top: 3px solid #00B5E2;">
                    <div class="section-title justify-md-start">Contenuti Social</div>
                    <div class="table-title">
                        <p><strong>Requisiti di divulgazione</strong></p>
                        <ul>
                            <li>Tutti i post dovranno illustrare in modo chiaro il rapporto commerciale tra
                                l'Abasciatore e Lanistar. In particolare, l'Ambasciatore è tenuto a utilizzare l'#ad
                                handle in ciascun post in modo chiaro e diretto e sempre all'inizio dello stesso</li>
                            <li>L'Ambasciatore dovrà astenersi da qualsiasi tentativo di nascondere o altrimenti
                                occultare l'utilizzo dell'#ad handle. Agli utenti che visualizzano i post non dovrebbe
                                essere richiesto di cliccare, scorrere verso il basso o spostare il mouse su un
                                collegamento per visualizzare l'#ad handle. In particolare, laddove i Contenuti social
                                includano vlog o video, l'Ambasciatore è tenuto a utilizzare l'#ad handle all'inizio del
                                titolo del video/vlog, nonché ad assicurarsi che ciascuna occorrenza del video/vlog su
                                un social network o altro (incluso in formato miniatura) visualizzi l'#ad handle.</li>
                            <li>La divulgazione dell'#ad è richiesta indipendentemente da eventuali limitazioni di
                                spazio del post (ad esempio Twitter). L'Ambasciatore dovrà di volta in volta conformarsi
                                a qualsiasi ulteriore requisito di divulgazione o direttiva di Lanistar, nonché dovrà
                                garantire che tutti i post siano conformi alle buone pratiche correnti e alle linee
                                guida e alle decisioni di qualsiasi competente Autorità per gli standard pubblicitari
                            </li>
                            <li>Lanistar potrà richiedere, in qualsiasi momento, la rimozione o la modifica dei
                                Contenuti Social, richiesta che dovrà essere prontamente soddisfatta dall'Ambasciatore.
                            </li>
                        </ul>
                    </div>
                </div>
            </main>
        </section>
        <div style="page-break-after:always"></div>
        <section class="pdf-page">
            <main>
                <div class="table-container headless no-content" style="border-top: 3px solid #00B5E2;">
                    <div class="section-title justify-md-start">Contenuti Social</div>

                    <div class="table-title">

                        <p><strong>Requisiti di approvazione</strong></p>

                        <p>L'Ambasciatore è tenuto a inviare tutti i Contenuti social a Lanistar per l'approvazione
                            precedentemente la pubblicazione. I Contenuti Social relativi al lancio della Campagna
                            dovranno essere inviati almeno 14 giorni prima della relativa data di inizio. Tutti gli
                            altri Contenuti Social dovranno essere inviati almeno 7 giorni prima della pubblicazione
                            prevista. Lanistar potrà apportare qualsiasi modifica ai Contenuti Social secondo quanto da
                            essa ritenuto necessario e, ove richiesto, l'Ambasciatore dovrà risottoporre tali Contenuti
                            Social modificati a Lanistar per ulteriore approvazione. Una volta approvati, l'Ambasciatore
                            dovrà pubblicare i Contenuti Social nella forma concordata.</p>

                        <p><strong>Requisiti di tempistica</strong></p>

                        <p>
                            Tutti i Contenuti Social dovranno essere pubblicati entro i periodi di tempo discussi e
                            concordati con Lanistar (sulla base dei dati correlati alle interazioni dell'Ambasciatore).
                        </p>
                    </div>
                </div>
            </main>
        </section>
        <div style="page-break-after:always"></div>
        <section class="pdf-page">
            <main>
                <div class="table-container no-content dark" style="margin-top:2rem;">
                    <div class="header">DIRITTI DI UTILIZZO</div>

                    <div class="section-title">Contenuti</div>

                    <div class="table-title">il termine implica tutti i contenuti, in qualsiasi Forma, creati
                        dall'Ambasciatore e/o da o per conto di Lanistar come risultato delle Attività, tra cui tutti i
                        Contenuti Social.</div>
                </div>

                <div class="table-container headless no-content">
                    <div class="section-title">Media</div>

                    <div class="table-title">Internet, digitale (ivi incluse le campagne organiche e a pagamento),
                        social media, editoriali su carta stampata di nuovi media, comunicazioni.</div>
                </div>

                <div class="table-container headless no-content dark">
                    <div class="section-title">Modulo</div>

                    <div class="table-title">foto, video, foto hyperlapse, GIF, boomerang, filmati live streaming,
                        video.
                    </div>
                </div>

                <div class="table-container headless no-content ">
                    <div class="section-title">Territorio</div>

                    <div class="table-title">A livello mondiale.</div>
                </div>

                <div class="table-container headless no-content dark">
                    <div class="section-title">Periodo di licenza</div>

                    <div class="table-title">Dalla data di inizio alla data che ricade 12 mesi successivi alla
                        Data di termine della campagna</div>
                </div>
                <div class="table-container no-content dark" style="margin-top:1rem">
                    <div class="header">CONDIZIONI DI PAGAMENTO E FATTURAZIONE</div>

                    <div class="section-title justify-md-start">Commissione</div>

                    <div class="table-title">
                        <strong>&pound;XXX</strong> <strong> </strong>(la &quot;Commissione&quot;) da saldare in toto a
                        cura di Lanistar mediante l'emissione all'[Ambasciatore] <strong> XXX </strong>di azioni di
                        classe B da £0,01 caduna relative al capitale di Lanistar come ulteriormente descritto nella
                        Lettera d'intenti (le &quot; <strong>Azioni di classe B</strong>&quot;), accreditate come

                        interamente versate alla pari, previa emissione della pertinente fattura da parte
                        dell'Ambasciatore in una forma accettabile per Lanistar (agente in modo ragionevole) e in
                        conformità con il seguente Scadenziario. Ciascuna di tali fatture(&quot; <strong>Fattura
                            relativa alle Commissioni</strong>&quot;) dovrà specificare il saldo mediante emissione
                        delle Azioni di classe B all'Ambasciatore.
                    </div>
                </div>
            </main>
        </section>
        <div style="page-break-after:always"></div>
        <section class="pdf-page">
            <main>
                <div class="table-container headless no-content" style="border-top: 3px solid #00B5E2;">
                    <div class="section-title justify-md-start">Bonus segnalazione</div>

                    <div class="table-title">
                        <p>Ove l'Ambasciatore indirizzasse verso Lanistar una o più persone che a loro volta
                            stipuleranno un contratto con quest'ultima allo scopo di fornire servizi di marketing di
                            influenza, Lanistar dovrà emettere all'Ambasciatore Azioni di classe C da £ 0,01 relative al
                            proprio capitale, interamente
                            versate alla pari, come ulteriormente descritto nella Lettera d'Intenti (&quot;
                            <strong>Azioni di classe C</strong>&quot;).
                            Il numero di Azioni di classe C da emettere all'Ambasciatore in relazione a tale
                            segnalazione andata a buon fine sarà determinato da Lanistar a propria esclusiva discrezione
                            (&quot; <strong>Bonus di segnalazione</strong>&quot;). Qualsiasi tale emissione di Azioni di
                            classe C sarà soggetta alle condizioni stabilite nel seguente Scadenziario dettagliato,
                            nonché all'emissione, da parte dell'Ambasciatore, di una fattura per il valore nominale
                            delle azioni, equivalente in denaro del Bonus di segnalazione. Anche in questo caso, tale
                            fattura (la &quot; <strong>Fattura relativa al Bonus</strong>&quot;) dovrà specificare il
                            saldo mediante l'emissione all'Ambasciatore del numero proposto di Azioni di classe C.</p>

                        <p>Onde fugare ogni dubbio, non sarà dovuto alcun Bonus di segnalazione
                            all'Ambasciatore o all'Agenzia in relazione a qualsiasi soggetto già noto a,
                            ovvero in contatto con Lanistar in relazione all'effettiva o potenziale fornitura di servizi
                            di marketing di influenza. Lanistar avrà il diritto esclusivo di determinare se una persona
                            segnalata dall'Ambasciatore sia idonea ai propri scopi.</p>
                    </div>
                </div>
            </main>
        </section>
        <div style="page-break-after:always"></div>
        <section class="pdf-page">
            <main>
                <div class="table-container headless no-content" style="border-top: 3px solid #00B5E2;">
                    <div class="section-title justify-md-start">Scadenziario</div>

                    <div class="table-title">
                        <p>La Commissione sarà corrisposta all'Ambasciatore (sotto forma di Azioni di classe B, come
                            sopra) in due tranche:</p>

                        <ul>
                            <li>la prima, entro 30 giorni dalla Data di metà campagna; e</li>
                            <li>la seconda, entro 30 giorni dalla data di termine della campagna,</li>
                        </ul>

                        <p>fermo restando che l'Ambasciatore abbia adeguatamente presentato una Fattura relativa alle
                            Commissioni a Lanistar.</p>

                        <p>Il Bonus di segnalazione, ove del caso, sarà corrisposto all'Ambasciatore (in Azioni di
                            classe C come specificato sopra) 6 mesi dopo la stipula del contratto con Lanistar da parte
                            del soggetto interessato, fermo restando che tale contratto non sia stato risolto per
                            qualsivoglia motivo e Lanistar sia soddisfatta (agendo ragionevolmente) delle prestazioni di
                            tale soggetto, ferma restando l'emissione a Lanistar della Fattura relativa al Bonus da
                            parte dell'Ambasciatore. Ai fini del Bonus di segnalazione, Lanistar dovrà informare
                            l'Ambasciatore in seguito alla stipula del contratto da parte del soggetto interessato (tale
                            soggetto dovrà inoltre essere annotato sulla Fattura relativa al Bonus).</p>
                    </div>
                </div>
            </main>
        </section>
        <div style="page-break-after:always"></div>
        <section class="pdf-page">
            <main>
                <div class="table-container headless no-content" style="border-top: 3px solid #00B5E2;">
                    <div class="section-title justify-md-start">Scadenziario</div>
                    <div class="table-title">
                        In caso di risoluzione del presente Contratto precedentemente la Data di termine della campagna
                        (eccetto nei casi in cui Lanistar proceda alla risoluzione ai sensi della Clausola 9 (i), (ii),
                        (iii), (iv) o (v) delle seguenti Condizioni, non saranno addebitate ulteriori commissioni
                        pagabili o azioni emesse all'Ambasciatore), l'Ambasciatore riceverà Azioni di classe B su base
                        proporzionale rispetto alla Commissione (la "Commissione pro rata";) relativamente ai Servizi
                        forniti in modo soddisfacente a Lanistar, fino alla data di risoluzione (che sarà determinata da
                        Lanistar a propria esclusiva discrezione). Il numero di Azioni di classe B da emettere in tale
                        scenario sarà calcolato dividendo la Commissione pro rata per la Commissione totale e
                        moltiplicando la frazione risultante per il numero di Azioni di classe B che sarebbero state
                        altrimenti emesse ove il Contratto non fosse stato risolto anticipatamente, arrotondando per
                        difetto al numero intero più vicino. Tali azioni saranno emesse all'Ambasciatore, accreditate
                        come interamente versate, al più tardi entro 30 giorni dalla data di cessazione, l'Ambasciatore
                        dovrà emettere una fattura recante la somma della Commissione pro rata, relativamente ai Servizi
                        forniti in modo soddisfacente.
                    </div>
                </div>

                <h3>CONDIZIONI</h3>

                <p>I termini in maiuscolo nelle presenti condizioni avranno il significato loro attribuito nelle
                    Condizioni generali</p>

                <h4>1 Periodo di validità</h4>

                <p>Il presente Contratto entra in vigore alla Data di decorrenza e, fatte salve le disposizioni per la
                    risoluzione anticipata di cui alle presenti Condizioni, rimarrà in vigore fino alla Data di termine
                    della campagna, in seguito alla quale cesserà automaticamente, salvo risoluzione anticipata
                    conformemente alla Clausola 9.</p>
            </main>
        </section>
        <div style="page-break-after:always"></div>
        <section class="pdf-page">
            <main>

                <h4>2. Servizi.</h4>

                <p>L'Ambasciatore dovrà eseguire i Servizi come descritto nelle Condizioni Generali e nei presenti
                    Termini, ovvero secondo quanto eventualmente richiesto da Lanistar. Laddove nelle Condizioni
                    generali siano indicate le date e/o le località ovvero ove esse siano state concordate per la
                    fornitura di particolari servizi, Lanistar si riserva il diritto di modificare sia le date, sia le
                    località dandone ragionevole preavviso all'Ambasciatore e/o all'Agenzia. L'Agenzia dovrà fare in
                    modo che l'Ambasciatore consegni i Contenuti a Lanistar immediatamente in seguito alla creazione del
                    link al file mediante WeTransfer, salvo diversa indicazione da parte di Lanistar.</p>

                <h4>3. Obblighi dell'Agenzia e dell'Ambasciatore.</h4>

                <p>L'Ambasciatore è tenuto a fornire i Servizi al momento richiesto, nonché conformemente alle
                    Disposizioni Generali in modo competente e professionale e in collaborazione volontaria con gli
                    altri, nonché dovrà seguire tutte le ragionevoli istruzioni di Lanistar nell'esecuzione dei Servizi
                    e cooperare con qualsiasi soggetto terzo che lavora con, ovvero per conto di Lanistar.
                    L'Ambasciatore dovrà osservare e rispettare qualsiasi sensibilità al marchio eventualmente
                    notificata da Lanistar in relazione all'inclusione di tali marchi nei Contenuti. L'Ambasciatore
                    dovrà astenersi dal saturare il proprio profilo nei Media, ivi inclusi i Canali al momento di
                    qualsiasi attività di creazione di Contenuti Social concordata. Nell'eventualità
                    di tale saturazione (che sarà determinata da Lanistar a propria esclusiva discrezione) Lanistar avrà
                    il diritto di richiedere all'Ambasciatore la ripubblicazione dei Contenuti Social sui Canali e/o la
                    ripubblicazione di contenuti alternativi forniti dalla stessa Lanistar. L'Ambasciatore fornirà
                    aggiornamenti accurati e completi a Lanistar relativamente alle Impressioni,
                    ai follower e ad altri dati eventualmente di volta in volta richiesti da Lanistar. Qualsiasi
                    riferimento nel presente Accordo a un obbligo o requisito dell'Ambasciatore si intenderà includere,
                    ove del caso, l'obbligo per l'Agenzia di fare in modo che l'Ambasciatore adempia a tale obbligo o
                    requisito.</p>
            </main>
        </section>
        <div style="page-break-after:always"></div>
        <div class="pdf-page">
            <main>
                <h4>4. Diritti.</h4>

                <p>Conformemente ai Diritti di utilizzo, l'Ambasciatore conferisce a Lanistar il diritto di concedere in
                    sublicenza, distribuire, pubblicare, esporre, digitalizzare, diffondere, trasmettere in streaming,
                    visualizzare e altrimenti utilizzare qualsiasi aspetto dei Contenuti, ivi inclusi il nome,
                    l'immagine e l'aspetto dell'Ambasciatore ovvero qualsiasi materiale basato su o derivato da tali
                    elementi, insieme al diritto di
                    modificare, adattare, manipolare, variare, migliorare o realizzare lavori derivati da uno qualsiasi
                    dei suddetti elementi, a fini di pubblicità, promozione e marketing di Lanistar e della Campagna in
                    qualsiasi Forma tramite qualsiasi Media, nel Territorio, per il Periodo di Licenza. Successivamente
                    al Periodo di licenza, tali diritti si estenderanno in perpetuo per le attività interne, B2B e di
                    archiviazione di Lanistar. Ferma restando la risoluzione o la scadenza del presente Contratto o del
                    Periodo di licenza,
                    I Contenuti pubblicati sui social media durante il periodo di licenza potranno rimanere sulla
                    piattaforma di social media come originariamente pubblicati.</p>
                <h4>5. IP.</h4>

                <p>Sia l'Agenzia, sia l'Ambasciatore riconoscono di non avere alcun diritto sui nomi, i loghi e i marchi
                    commerciali o altri diritti di proprietà intellettuale di Lanistar. L'Ambasciatore dovrà contribuire
                    esclusivamente con i propri Contenuti originali
                    o Contenuti per i quali dispone di tutti i diritti necessari per contribuire. L'Ambasciatore e
                    l'Agenzia dovranno manlevare e terranno indenne Lanistar da qualsiasi costo, onere e danno (ivi
                    comprese le spese legali) da essa sostenuto a seguito di qualsiasi reclamo (in relazione alla
                    titolarità o altro) relativamente ai Contenuti. L'Ambasciatore e l'Agenzia dovranno astenersi, in
                    qualsiasi momento, da qualunque atto che, a giudizio di Lanistar: (i) sconvolga o offenda la
                    community; (ii) manifesti vilipendio o disprezzo per la diversità, la morale pubblica o la decenza;
                    o (iii) si rifletta sfavorevolmente su Lanistar e sul relativo buon nome, avviamento e/o
                    reputazione.</p>
            </main>
        </div>
        <div style="page-break-after:always"></div>
        <section class="pdf-page">
            <main>
                <h4>6. Esclusività.</h4>

                <p>A partire dalla Data di inizio e fino alla Data di termine della campagna, l'Ambasciatore dovrà
                    astenersi dal condurre o ospitare qualsiasi
                    attività promozionale, evento, esibizione, collaborazione o campagna, ovvero avallare o altrimenti
                    consentire
                    l'utilizzo del/la proprio/a nome, immagine, aspetto, sponsorizzazione o voce in qualsiasi modo nelle
                    campagne promozionali o pubblicitarie
                    per qualsiasi marchio fintech o banca concorrente.</p>

                <h4>7. Commissione.</h4>

                <p>Quale corrispettivo per l'ottenimento della fornitura dei Servizi e della concessione dei Diritti di
                    Utilizzo, Lanistar corrisponderà all'Ambasciatore la Commissione (in Azioni di classe B, come sopra
                    indicato) e, ove del caso, il Bonus di segnalazione (in Azioni di classe C, come sopra indicato).
                    Lanistar salderà la Commissione e, ove del caso, il Bonus di segnalazione in conformità con lo
                    Scadenziario. L'Ambasciatore sarà l'unico responsabile per la trattenuta e/o il pagamento di
                    eventuali tasse, commissioni,
                    o oneri richiesti dalla legge ed eventualmente imposti in relazione al presente Accordo. Oltre alla
                    Commissione, ove del caso, al Bonus di segnalazione e alle Spese, Lanistar declina ogni
                    responsabilità per altri costi o spese sostenuti dall'Agenzia o dall'Ambasciatore in relazione al
                    presente Accordo. Onde fugare ogni dubbio, l'Ambasciatore e/o l'Agenzia non riceveranno alcun
                    pagamento in denaro in relazione al presente Accordo o alla fornitura dei Servizi, l'emissione di
                    azioni a favore dell'Ambasciatore, secondo quanto descritto nelle Condizioni generali assolverà in
                    pieno all'obbligo di Lanistar, ai sensi del presente Accordo, relativo al pagamento della
                    Commissione e, ove del caso, del Bonus di segnalazione.</p>
                <h4>8. Responsabilità.</h4>

                <p>La responsabilità totale dell'Ambasciatore e dell'Agenzia nei confronti di Lanistar, ai sensi del
                    presente Accordo, non dovrà eccedere l'importo maggiore tra la Commissione e la somma di £ 500.000.
                    Nulla di quanto contenuto nel presente Accordo limita alcuna responsabilità che non può essere
                    legalmente limitata</p>
            </main>
        </section>
        <div style="page-break-after:always"></div>
        <section class="pdf-page">
            <main>
                <h4>9. Recesso/Risoluzione.</h4>

                <p>In aggiunta agli altri diritti e rimedi a propria disposizione, Lanistar potrà risolvere in tutto o
                    in parte il presente Accordo con effetto immediato, previa notifica nel caso in cui: (i)
                    l'Ambasciatore ometta o rifiuti di procedere alla fornitura di tutti o parte dei Servizi entro 5
                    giorni dall'invio, da parte di Lanistar, di una diffida ad adempiere relativa a tale omissione o
                    rifiuto; (ii) l'Agenzia e/o l'Ambasciatore siano materialmente in violazione del presente Contratto
                    e (ove sanabile) non riescano a porvi entro 5 giorni dalla diffida ad adempiere inviata da Lanistar;
                    (iii) L'Ambasciatore ometta di rispettare le scadenze stabilite nell'Accordo o concordate tra le
                    parti in: (a) 2 o più occasioni consecutive; o (b) 4 o più occasioni in qualsiasi momento; o (iv) vi
                    sia
                    una riduzione, tra un mese e l'altro, di oltre il 10% dei follower o delle impressioni medie
                    dell'Ambasciatore. Fatto salvo quanto sopra, Lanistar potrà recedere in tutto o in parte dal
                    presente Accordo, in qualsiasi momento, mediante un preavviso di 14 giorni all'Ambasciatore e
                    all'Agenzia.</p>
                <h4>10. "Violazione materiale"</h4>

                <p>ai fini della clausola 9 (ii) tale termine implica qualsiasi violazione delle Clausole 3, 5, 6, 12 e
                    / o 13.</p>

                <h4>11. Eventi successivi al recesso/risoluzione.</h4>

                <p>Le clausole 4, 5, 6, 8, 10, 11 e 13-18 dei presenti Termini resteranno in vigore in seguito al/la
                    recesso/risoluzione o alla scadenza del presente Accordo. In seguito al/la recesso/risoluzione del
                    presente Accordo (salvo laddove Lanistar proceda alla risoluzione ai della Clausola 9 (i), (ii),
                    (iii), (iv) o (v), secondo cui non saranno esigibili ulteriori commissioni o azioni emesse
                    all'Ambasciatore): (a) Lanistar corrisponderà all'Ambasciatore una quota proporzionale della
                    Commissione in relazione ai Servizi forniti in modo soddisfacente fino alla data di cessazione (che
                    sarà determinata da Lanistar a propria esclusiva discrezione) come descritto ulteriormente nella
                    precedente clausola "Scadenziario"; nonché (b) il Bonus di segnalazione (ove applicabile) sarà
                    esigibile esclusivamente ove il soggetto stipulasse un contratto con Lanistar entro 3 mesi dalla
                    risoluzione del presente Accordo.</p>
            </main>
        </section>
        <div style="page-break-after:always"></div>
        <section class="pdf-page">
            <main>
                <h4>12. Garanzie.</h4>

                <p>L'Ambasciatore e l'Agenzia garantiscono ciascuno: (i) di disporre dell'autorità di stipulare il
                    presente Accordo e di concedere o far ottenere a Lanistar la concessione dei diritti ivi descritti;
                    (ii) che la stipula e l'esecuzione del presente Accordo non violerà la normativa applicabile o alcun
                    diritto di terzi; (iii) le rispettive prestazioni ai sensi del presente Accordo non sono, né saranno
                    in conflitto con alcuna normativa applicabile e/o alcun accordo eventualmente dagli stessi stipulato
                    con terzi; nonché (iv) l'assenza della necessità, per Lanistar, di ottenere l'autorizzazione o
                    corrispondere alcun compenso a terzi in relazione ai diritti concessi nel presente Accordo.</p>

                <h4>13. Riservatezza.</h4>

                <p>L'Agenzia e l'Ambasciatore dovranno astenersi dal divulgare a terzi i termini del presente Accordo o
                    qualsiasi informazione a essi fornita da Lanistar ed eventualmente identificata come riservata, o
                    che per sua natura dovrebbe essere intesa come tale (fatto salvo quanto richiesto dalla qualsiasi
                    legge o procedimento legale).</p>

                <h4>14. Intero accordo.</h4>

                <p>Il presente Accordo costituisce l'intera intesa tra le parti in relazione all'oggetto contrattuale,
                    nonché sostituisce tutti le precedenti discussioni, intese e rappresentazioni.</p>
            </main>
        </section>
        <div style="page-break-after:always"></div>
        <section class="pdf-page">
            <main>
                <h4>15. Non dipendenza.</h4>

                <p>Ciascuna parte riconosce di non essere stata indotta a stipulare il presente Contratto da, né si è
                    basata su alcuna rappresentazione, promessa, assicurazione o impegno adottato dalla controparte
                    (salvo quanto espressamente stabilito nel
                    presente Accordo). Ciascuna parte concorda sul fatto di non avere alcuna pretesa in merito a
                    dichiarazioni mendaci o negligenti in buona fede ovvero per dichiarazioni errate basate su qualsiasi
                    disposizione del presente Accordo. Ciascuna parte riconosce di comprendere le implicazioni legali,
                    fiscali e contabili della sottoscrizione del presente Accordo, qualsiasi informazione qui descritta
                    inoltre non costituisce un consiglio di investimento.</p>

                <h4>16. Status delle parti.</h4>

                <p>Nulla di quanto riportato nel presente Contratto è inteso a creare un rapporto di società o joint
                    venture di alcun tipo tra le parti, né autorizzerà ciascuna di esse ad agire in qualità di
                    rappresentante per conto della controparte. La legge sui contratti (diritti di terzi) del 1999 non
                    si applica al presente accordo. Ciascuna delle parti dovrà astenersi dal cedere, trasferire,
                    addebitare, vendere o subappaltare qualsiasi dei propri diritti o obblighi ai sensi del presente
                    Contratto.</p>

                <h4>17. Generale.</h4>

                <p>Ai fini del presente Accordo, qualsiasi termine che segue termini quali: ivi incluso, in particolare
                    o ad esempio, dovrà essere interpretato come illustrativo e non limitativo per le parole che
                    precedono tale termine. Il presente Accordo potrà essere modificato esclusivamente in forma scritta
                    e sottoscritta dai firmatari autorizzati di ciascuna parte. Ove una qualsiasi disposizione del
                    presente Accordo fosse ritenuta nulla o inapplicabile in tutto o in parte, le restanti disposizioni
                    e la restante
                    parte delle disposizioni in questione continueranno a rimanere in pieno vigore ed effetto. Qualsiasi
                    deroga a qualsivoglia violazione o diritto dovrà essere presentata per iscritto;
                    qualsiasi ritardo nell'esercizio, ovvero il mancato esercizio di qualsiasi diritto non costituirà
                    una rinuncia a tale diritto. Il presente Accordo potrà essere sottoscritto in più copie. Ciascuna
                    copia si intenderà un originale e tutte insieme costituiranno un unico strumento giuridico.</p>
            </main>
        </section>
        <div style="page-break-after:always"></div>
        <section class="pdf-page">
            <main>
                <h4>18. Diritto applicabile e foro competente.</h4>

                <p>Il presente Accordo, nonché qualsiasi controversia o ricorso (tra cui eventuali controversie o
                    ricorsi stragiudiziali) derivanti da o collegati ad esso, all'oggetto contrattuale o alla relativa
                    formazione saranno disciplinati e interpretati conformemente alle leggi d'Inghilterra. Le parti si
                    sottopongono irrevocabilmente alla competenza esclusiva dei tribunali inglesi in relazione a
                    qualsiasi controversia o questione derivante da, ovvero correlata al presente Accordo (ivi incluse
                    controversie o questioni stragiudiziali).Il presente Accordo, nonché qualsiasi controversia o
                    ricorso (tra cui eventuali controversie o ricorsi stragiudiziali) derivanti da o collegati ad esso,
                    all'oggetto contrattuale o alla relativa formazione saranno disciplinati e interpretati
                    conformemente alle leggi d'Inghilterra. Le parti si sottopongono irrevocabilmente alla competenza
                    esclusiva dei tribunali inglesi in relazione a qualsiasi controversia o questione derivante da,
                    ovvero correlata al presente Accordo (ivi incluse controversie o questioni stragiudiziali).</p>

                <h4>19. Variazioni nella situazione delle parti</h4>

                <p>In caso di variazioni inerenti la stabilità finanziaria dell'Ambasciatore o nel caso di dichiarazione
                    di fallimento, il CdA di Lanistar determinerà la migliore linea di condotta rispetto alle relative
                    azioni Ciò può includere il trasferimento al valore di mercato delle suddette azioni a un soggetto
                    terzo nominato da Lanistar; in alternativa i benefici, le azioni in Lanistar detenute
                    dall'Ambasciatore passeranno ai rispettivi beneficiari ovvero parenti più prossimi (a seconda dei
                    casi), conformemente alla volontà dello stesso. Ove l'Ambasciatore desiderasse vendere in anticipo
                    le proprie azioni, si prega di consultare lo Statuto di Lanistar per ulteriori informazioni su
                    quanto sopra, insieme a ulteriori informazioni sulle eventuali modalità di disporre delle suddette
                    azioni Lanistar.</p>
            </main>
        </section>
    </form>
</body>

</html>